:root {
    --white: #FFFFFF;
    --black: #000000;
    --blue-bold: #5A98B4;
    --blue-light: #D7F2F8;
}

.btn-light {
    color: var(--blue-bold);
    background-color: var(--white);
    border: 1px solid var(--blue-bold);
    padding: 10px;
    border-radius: 6px;
}

.btn-light:hover {
    filter: brightness(0.9);
}

.btn-light:active {
    filter: brightness(0.8);
}