:root {
    --white: #FFFFFF;
    --black: #000000;
    --blue-bold: #5A98B4;
    --blue-light: #D7F2F8;
    --text-input-field: #F7F7F7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

.btn-normal {
    color: var(--white);
    background-color: var(--blue-bold);
    border: none;
    padding: 10px;
    border-radius: 6px;
}

.btn-normal:hover {
    filter: brightness(0.9);
}

.btn-normal:active {
    filter: brightness(0.8);
}