.footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-flow: column;
    margin: 60px auto 20px auto;
    border-top: 1px solid #5A98B4;
    max-width: 1240px;
}

.footer__redes ul li{
    display: flex;
    gap: 10px;

}

.footer__contacto ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #5A98B4;

}

:is(.footer__redes, .footer__contacto) h3 {
    color: #5A98B4;
    border-bottom: 1px solid #5A98B4;
    width: fit-content;
}

.footer__logo {
    width: 300px;
    align-self: center;
    justify-self: end;
}