.carrito {
    width: 400px;
    height: calc(100vh - 63px);
    margin: 0 auto;
    border-left: 1px solid #5A98B4;
    border-right: 1px solid #5A98B4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.carrito__items {
    overflow-y: scroll;
    height: 100%;
    padding: 0 10px;
    display: grid;
    grid-template-rows: repeat(auto-fill, 92px);
    grid-auto-flow: row;
    gap: 10px;  
}

.carrito__item {
    height: 80px;
    padding: 5px;
    border: 1px solid #5A98B4;
    border-radius: 6px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}

.carrito__item__info p {
    font-size: 11px;
    margin: 0;
}

.carrito__item__info p:nth-child(1) {
    font-weight: bold;
}

.carrito__item__img {
    height: 60px;
    max-width: 110px;
}

.carrito__delete {
    width: 30px;
    justify-self: center;
    visibility: hidden;
}

.carrito__delete:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.carrito__delete:active {
    filter: brightness(0.6);
}

.carrito__total {
    border-top: 1px solid #5A98B4 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
