.main-container {
    max-width: 1240px;
    margin: 20px auto 0;
}

h1,
h2 {
    color: #5A98B4;
}

h1 {
    text-align: center;
}

.main-container p {
    color: rgb(117, 117, 117);
}

.main__sections {
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.main__sections .section {
    width: 300px;
    height: 70px;
    border: 1px solid #000;
    border-radius: 4px;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    color: #000;
}

.main__links img {
    filter: brightness(0);
}

.main__links:hover {
    filter: invert(0.3);
}

.main__links:active {
    filter: invert(0.5);
}

.main__vehicles {
    /* border: 1px solid #000; */
    padding: 20px 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto 50px auto;
}

.main__vehicle {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /* border: 1px solid #000;    */
}

.main__vehicle img {
    height: 100px;
    /* border: 1px solid red; */
}

.main__about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    gap: 20px;
}

.main__about--text {
    padding: 0 50px;
}


.main__about--img {
    display: grid;
    place-items: center;
}

.main__about--img img {
    max-width: 400px;
}

.hidden-div {
    display: none;
}