@import url(//fonts.googleapis.com/css?family=Lato:300:400);

:root {
    --white: #FFFFFF;
    --black: #000000;
    --blue-bold: #5A98B4;
    --blue-light: #D7F2F8;
    --text-input-field: #F7F7F7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
}

.content p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 85vh;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login {
    width: 300px;
    height: 350px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* gap: 0px; */
    border-radius: 10px;
}

.login img {
    width: 200px;
}

.login h2 {

    color: gray;
    font-family: sans-serif;
    font-weight: bolder;
    /* letter-spacing: 2px; */
    font-size: 12px;
}

.login p {
    color: #333333;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    gap: 5px;
}

.login form input {
    width: 200px;
    height: 20px;
    border: 1px solid var(--blue-bold);
    border-radius: 5px;
    padding: 5px;

}

textarea:focus, input:focus, input[type]:focus {
    border-color: var(--blue-bold);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px var(--blue-bold);
    outline: 0 none;
}

.login form a {
    display: inline-block;
    align-self: flex-start;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    color: var(--blue-bold);
}

.login form .login-btn {
    width: 120px;
    height: 30px;
    color: var(--blue-bold);
    background: var(--blue-light);
    border: none;

    transition: filter 300ms;
}

.login form .login-btn:hover {
    filter: brightness(0.94);
}

/* .waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
} */

.content {
    position: relative;
    height: 10vh;
    text-align: center;
    background-color: white;
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .content {
        height: 20vh;
    }

    h1 {
        font-size: 24px;
    }
}