.vehicles-container {
    min-height: calc(100vh - 298.5px);
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}

.vehicles-container h3 {
    color: #5A98B4;
    border-bottom: 1px solid #5A98B4;
    padding-bottom: 10px;
}

.vehicles-list {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-auto-flow: row;
    place-content: center;
    gap: 20px;
    /* border: 1px solid #ff0000; */
}

.vehicle-list__item {
    width: 260px;
    display: grid;
    place-items: center;
    padding: 10px;
    /* margin: 30px; */
    border: 1px solid #5A98B4;
    border-radius: 10px;
}

.vehicle-list__item :is(h4, p) {
    place-self: start;
    margin: 0;   
}

.vehicles-container .vehicle-list__item h4 {
    color: #000;
}

.vehicle-list__item p {
    color: #3d3d3d;
    font-size: 14px;
}


.vehicle-list__item img {
    height: 100px;
    max-width: 250px;
    margin-bottom: 10px;
}

