.info-vehicle-container {
    /* border: 1px solid blue; */
    max-width: 1200px;
    height: 60vh;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
}

.info-vehicle-container h2 {
    color: #000;
}

.info-vehicle__left {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-vehicle__right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-vehicle__right span {
    color: #5A98B4;
    font-weight: bold;
}

.info-vehicle__left p,
.info-vehicle__right p {
    color: #292929;
}

.buttons-actions {
    display: flex;
    gap: 10px;
}

.info-vehicle__right > div:nth-child(2) {
    display: grid;
    justify-items: end;
}
.picture-download {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.picture-download img {
    width: 40px;
    height: 40px;
    color: #5A98B4;
}

.img-auto-view {
    width: 500px;
    object-fit: cover;
}


